# 7.1 Dictionaries

## 7.1.1 Basic Concepts

In [1]:
def f(x):
    if x == 'Norway':
        return 'Oslo'
    elif x == 'Sweden':
        return 'Stockholm'
    elif x == 'France':
        return 'Paris'

print(f('Norway'))

Oslo

In [6]:
d = {
    'Norway': 'Oslo',
    'Sweden': 'Stockholm',
    'France': 'Paris'
}

d['Germany'] = 'Berlin'

print(d['Norway'])
print(d['Germany'])
print(d)

Oslo
Berlin
{'Norway': 'Oslo', 'Sweden': 'Stockholm', 'France': 'Paris', 'Germany': 'Berlin'}

In [ ]:
mydict = {
    'key1': 'value1',
    'key2': 'value2'
}

temps = {
    'Oslo': 13,
    'London': 15.4,
    'Paris': 17.5
}

print(mydict)
print(temps)

mydict2 = dict(key1 = "value1", key2 = "value2")
temps2 = dict(Oslo = 13, London = 15.4, Paris = 17.5)

print(mydict2)
print(temps2)

{'key1': 'value1', 'key2': 'value2'}
{'Olso': 13, 'London': 15.4, 'Paris': 17.5}
{'key1': 'value1', 'key2': 'value2'}
{'Oslo': 13, 'London': 15.4, 'Paris': 17.5}

In [ ]:
temps['Madrid'] = 26
print(temps)

{'Olso': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26}

In [18]:
for city in temps:
    value = temps[city]
    print(f"The {city} temperature is {value}")

The Olso temperature is 13
The London temperature is 15.4
The Paris temperature is 17.5
The Madrid temperature is 26

In [19]:
for city in sorted(temps):
    value = temps[city]
    print(f"The {city} temperature is {value}")

The London temperature is 15.4
The Madrid temperature is 26
The Olso temperature is 13
The Paris temperature is 17.5

## 7.1.2 Dictionaries vs. Lists

In [26]:
temps = {
    'Oslo': 13,
    'London': 15.4,
    'Paris': 17.5
}
print(temps)

{'Oslo': 13, 'London': 15.4, 'Paris': 17.5}

In [30]:
if 'Berlin' in temps:
    print('Berlin', temps['Berlin'])
else:
    print('No temperature data for Berlin')

print('Berlin' in temps)
print('Oslo' in temps)

No temperature data for Berlin
False
True

In [37]:
temps = {
    'Oslo': 13,
    'London': 15.4,
    'Paris': 17.5,
    'Madrid': 26.0
}
print(len(temps))
del temps['Oslo']
print(temps)
print(len(temps))

4
{'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0}
3

In [38]:
temps = {
    'Oslo': 13,
    'London': 15.4,
    'Paris': 17.5,
    'Madrid': 26.0
}
for key in temps.keys():
    print(key)
for value in temps.values():
    print(value)

Oslo
London
Paris
Madrid
13
15.4
17.5
26.0

In [41]:
temps = {
    'Oslo': 13,
    'London': 15.4,
    'Paris': 17.5,
    'Madrid': 26.0
}
t1 = temps
print(t1)
t1['Beijing'] = 22.5
print(t1)
print(temps)

{'Oslo': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0}
{'Oslo': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0, 'Beijing': 22.5}
{'Oslo': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0, 'Beijing': 22.5}

In [43]:
temps = {
    'Oslo': 13,
    'London': 15.4,
    'Paris': 17.5,
    'Madrid': 26.0
}
t2 = temps.copy()
print(t2)
t2['New York'] = 16.0
print(t2)
print(temps)

{'Oslo': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0}
{'Oslo': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0, 'New York': 16.0}
{'Oslo': 13, 'London': 15.4, 'Paris': 17.5, 'Madrid': 26.0}