# 7.4 String Manipulation

## 7.4.1 String Slicing, String Find, String Replace

In [3]:
s1 = "This is a string"
s2 = 'This is also a string'
print(s1, s2)
print(type(s1), type(s2))

This is a string This is also a string
<class 'str'> <class 'str'>

In [4]:
s1.split()

['This', 'is', 'a', 'string']

In [5]:
s3 = "A;B;C;D"
s3.split(";")

['A', 'B', 'C', 'D']

In [6]:
"Hello World".split()

['Hello', 'World']

In [10]:
s4 = "Berlin: 18.4 C at 4 pm"
print(s4[0])
print(s4[1])
print(s4[-1])
print(s4[7])

B
e
m

In [16]:
s5 = "Berlin: 18.4 C at 4 pm"
print(s5[8:])
print(s5[:6])
print(s5[8:14])
print(s5[8:-3])

18.4 C at 4 pm
Berlin
18.4 C
18.4 C at 4

In [ ]:
s6 = "Berlin: 18.4 C at 4 pm"
for s_ in s6:
    print(s_, end='~')

B~e~r~l~i~n~:~ ~1~8~.~4~ ~C~ ~a~t~ ~4~ ~p~m~

In [23]:
print(s6.find('Berlin'))
print(s6.find("pm"))
print(s6.find("Oslo"))
print("Berlin" in s6)

0
20
-1
True

In [26]:
if 'C' in s6:
    print('C found')
else:
    print('no C')

C found

In [29]:
s7 = "Berlin: 18.4 C at 4 pm"
s7.replace(' ', '__')
print(s7)
s7 = s7.replace(' ', '__')
print(s7)

Berlin: 18.4 C at 4 pm
Berlin:__18.4__C__at__4__pm

## 7.4.2 String Splitting and Joining; Immutable Objects

In [33]:
s8 = "Berlin: 18.4 C at 4 pm"
print(s8.split())
print(s8.split(':'))
print(s8.split('18'))

['Berlin:', '18.4', 'C', 'at', '4', 'pm']
['Berlin', ' 18.4 C at 4 pm']
['Berlin: ', '.4 C at 4 pm']

In [34]:
strings = ['Newton', 'Secant', 'Bisection']
', '.join(strings)

'Newton, Secant, Bisection'

In [37]:
', '.join(["I", "Like", "Learning", "Python"])

'I, Like, Learning, Python'

In [40]:
l1 = 'Oslo: 8.4 C at 5 pm'
words = l1.split()
print(words)
l2 = " ".join(words)
print(l2)
print(l1 == l2)

['Oslo:', '8.4', 'C', 'at', '5', 'pm']
Oslo: 8.4 C at 5 pm
True

In [48]:
cities = {}
with open('cities.txt') as infile:
    for line in infile:
        print(line, type(line))
        words = line.split()
        print(words, type(words))
        name = ', '.join(words[:2])
        print(name, type(name))
        print()
        data = {'lat': float(words[2]), 'long': float(words[3])}
        print(data, type(data))
        data['pop'] = int(words[4])
        cities[name] = data

print()
print(cities)

Tromso Norway 69.6351 18.9920 52436
 <class 'str'>
['Tromso', 'Norway', '69.6351', '18.9920', '52436'] <class 'list'>
Tromso, Norway <class 'str'>

{'lat': 69.6351, 'long': 18.992} <class 'dict'>
Molde Norway 62.7483 7.1833 18594
 <class 'str'>
['Molde', 'Norway', '62.7483', '7.1833', '18594'] <class 'list'>
Molde, Norway <class 'str'>

{'lat': 62.7483, 'long': 7.1833} <class 'dict'>
Oslo Norway 59.9167 10.7500 835000
 <class 'str'>
['Oslo', 'Norway', '59.9167', '10.7500', '835000'] <class 'list'>
Oslo, Norway <class 'str'>

{'lat': 59.9167, 'long': 10.75} <class 'dict'>
Stockhold Sweden 59.3508 18.0973 1264000
 <class 'str'>
['Stockhold', 'Sweden', '59.3508', '18.0973', '1264000'] <class 'list'>
Stockhold, Sweden <class 'str'>

{'lat': 59.3508, 'long': 18.0973} <class 'dict'>
Uppsala Sweden 59.8601 17.6400 133117 <class 'str'>
['Uppsala', 'Sweden', '59.8601', '17.6400', '133117'] <class 'list'>
Uppsala, Sweden <class 'str'>

{'lat': 59.8601, 'long': 17.64} <class 'dict'>

{'Tromso, Norway': {'lat': 69.6351, 'long': 18.992, 'pop': 52436}, 'Molde, Norway': {'lat': 62.7483, 'long': 7.1833, 'pop': 18594}, 'Oslo, Norway': {'lat': 59.9167, 'long': 10.75, 'pop': 835000}, 'Stockhold, Sweden': {'lat': 59.3508, 'long': 18.0973, 'pop': 1264000}, 'Uppsala, Sweden': {'lat': 59.8601, 'long': 17.64, 'pop': 133117}}

In [50]:
t = '1st line\n2nd line\n3rd line'
print(t)
print(t.split('\n'))

1st line
2nd line
3rd line
['1st line', '2nd line', '3rd line']

In [52]:
t = '1st line\n2nd line\n3rd line'
print(t)
print(t.splitlines(''))

1st line
2nd line
3rd line
['1st line', '2nd line', '3rd line']

In [56]:
s9 = "Berlin: 18.4 C at 4 pm"
print(s9[18])
s9[18] = 5

4

TypeError: 'str' object does not support item assignment

In [62]:
s10 = "Berlin: 18.4 C at 4 pm"
s11 = s10[:18] + '5' + s10[19:]
print(s10)
print(s11)
s12 = s11.replace(s11[18], '6')
print(s12)

Berlin: 18.4 C at 4 pm
Berlin: 18.4 C at 5 pm
Berlin: 18.4 C at 6 pm

## 7.4.3 Other Convenient String Methods in Python

In [65]:
s = '     text with leading & trailing spaces       \n'
print(s)
print(s.strip())
print(s.lstrip())
print(s.rstrip())

     text with leading & trailing spaces

text with leading & trailing spaces
text with leading & trailing spaces

     text with leading & trailing spaces

In [70]:
print('214'.isdigit())
print('    214'.isdigit())
print('    214'.strip().isdigit())
print('214'.isnumeric())
print("2.14".isdigit())

True
False
True
True
False

In [75]:
print("      ".isspace())
print("        \n".isspace())
print("   \t     \n".isspace())
print("".isspace())

True
True
True
False

In [80]:
s13 = "Berlin: 18.4 C at 4 pm"
print(s13.startswith("Berlin"))
print(s13.startswith("Be"))
print(s13.endswith("pm"))

True
True
True

In [84]:
print(s13.lower())
print(s13.upper())
s14 = "hello world"
print(s14.capitalize())
print(s14.title())

berlin: 18.4 c at 4 pm
BERLIN: 18.4 C AT 4 PM
Hello world
Hello World

## Example: read pairs of numbers `(x,y)` from a file

In [94]:
pairs = []
with open('pairs.txt', 'r') as lines:
    for line in lines:
        # print(line)
        words = line.split()
        # print(words)
        for word in words:
            word = word[1:-1]
            # print(word)
            n1, n2 = word.split(',') 
            # print(n1, n2)
            n1 = float(n1)
            n2 = float(n2)
            # print(n1, n2)
            pair = (n1, n2)
            # print(pair)
            pairs.append(pair)
print(pairs)

[(1.3, 0.0), (-1.0, 2.0), (3.0, -1.5), (0.0, 1.0), (1.0, 0.0), (1.0, 1.0), (0.0, -0.01), (10.5, 1.0), (2.5, -2.5)]