In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
Y

NameError: name 'Y' is not defined

In [5]:
print(y)

8

In [10]:
x,y = (1,"yasen")

In [7]:
x

1

In [11]:
y

'yasen'

In [9]:
x,y = (1,"yasen", 3)

ValueError: too many values to unpack (expected 2)