# 3.4 Iterating Over a List with a `for` Loop

## Overview of `for` Loop

In [11]:
years = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r = 5.0
P = 100.0
for n in years:
    A = P * (1 + r / 100)**n
    print(f"Year={n}, Final_Result is {A:.2f}")

Year=0, Final_Result is 100.00
Year=1, Final_Result is 105.00
Year=2, Final_Result is 110.25
Year=3, Final_Result is 115.76
Year=4, Final_Result is 121.55
Year=5, Final_Result is 127.63
Year=6, Final_Result is 134.01
Year=7, Final_Result is 140.71
Year=8, Final_Result is 147.75
Year=9, Final_Result is 155.13
Year=10, Final_Result is 162.89

## Using the function `range` to loop over indices

In [12]:
# years = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r = 5.0
P = 100.0
print(range(10))
for n in range(10):
    A = P * (1 + r / 100)**n
    print(f"Year={n}, Final_Result is {A:.2f}")

range(0, 10)
Year=0, Final_Result is 100.00
Year=1, Final_Result is 105.00
Year=2, Final_Result is 110.25
Year=3, Final_Result is 115.76
Year=4, Final_Result is 121.55
Year=5, Final_Result is 127.63
Year=6, Final_Result is 134.01
Year=7, Final_Result is 140.71
Year=8, Final_Result is 147.75
Year=9, Final_Result is 155.13

In [16]:
# years = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r = 5.0
P = 100.0
n = 10
print(range(n+1))
for n in range(n+1):
    A = P * (1 + r / 100)**n
    print(f"Year={n}, Final_Result is {A:.2f}")

range(0, 11)
Year=0, Final_Result is 100.00
Year=1, Final_Result is 105.00
Year=2, Final_Result is 110.25
Year=3, Final_Result is 115.76
Year=4, Final_Result is 121.55
Year=5, Final_Result is 127.63
Year=6, Final_Result is 134.01
Year=7, Final_Result is 140.71
Year=8, Final_Result is 147.75
Year=9, Final_Result is 155.13
Year=10, Final_Result is 162.89

In [18]:
r = 5.0
P = 100.0
n = 10
print(range(0,11,2))
for n in range(0,n+2,2):
    A = P * (1 + r / 100)**n
    print(f"Year={n}, Final_Result is {A:.2f}")

range(0, 11, 2)
Year=0, Final_Result is 100.00
Year=2, Final_Result is 110.25
Year=4, Final_Result is 121.55
Year=6, Final_Result is 134.01
Year=8, Final_Result is 147.75
Year=10, Final_Result is 162.89

## Filling a list with values using a `for` loop

In [20]:
r = 5.0
P = 100.0
n = 10
amounts = []
for n in range(n+1):
    A = P * (1 + r / 100)**n
    amounts.append(A)
    print(f"Year={n}, Final_Result is {A:.2f}")
print(amounts)
print(amounts[4])

Year=0, Final_Result is 100.00
Year=1, Final_Result is 105.00
Year=2, Final_Result is 110.25
Year=3, Final_Result is 115.76
Year=4, Final_Result is 121.55
Year=5, Final_Result is 127.63
Year=6, Final_Result is 134.01
Year=7, Final_Result is 140.71
Year=8, Final_Result is 147.75
Year=9, Final_Result is 155.13
Year=10, Final_Result is 162.89
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]
121.55062500000003

## Mathematical sums are implemented as `for` loops

In [22]:
N = 140
S = 0
for i in range(1, N+1):
    S = S + i**2       # same as S += i**2
print(S)

924490

## Change the Elements in a list

In [23]:
v = [-1, 0, 1]
for e in v:
    e += 2
print(v)

[-1, 0, 1]

In [24]:
v = [-1, 0, 1]
for e in v:
    v[e] += 2
print(v)

IndexError: list index out of range

In [25]:
v = [-1, 0, 1]
for e in range(len(v)):
    v[e] += 2
print(v)

[1, 2, 3]

In [26]:
v = [-1, 0, 1]
for e in [0,1,2]:
    v[e] += 2
print(v)

[1, 2, 3]

## List Comprehensions for compact creation of lists

In [ ]:
# Without List Comprehensions
P = 100
r_low = 2.5
r_high = 5.0
N = 10
A_high = []
A_low = []
for  n in range(N+1):
    A_low.append(P*(1+r_low/100)**n)
    A_high.append(P*(1+r_high/100)**n)
print(A_low)
print(A_high)

[100.0, 102.49999999999999, 105.06249999999999, 107.68906249999996, 110.38128906249996, 113.14082128906244, 115.96934182128899, 118.86857536682123, 121.84028975099173, 124.88629699476652, 128.00845441963565]
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]

In [29]:
# With List Comprehensions
P = 100
r_low = 2.5
r_high = 5.0
N = 10
A_high = [P*(1+r_high/100)**n for n in range(N+1)]
A_low = [P*(1+r_low/100)**n for n in range(N+1)]
print(A_low)
print(A_high)

[100.0, 102.49999999999999, 105.06249999999999, 107.68906249999996, 110.38128906249996, 113.14082128906244, 115.96934182128899, 118.86857536682123, 121.84028975099173, 124.88629699476652, 128.00845441963565]
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442]

## Traverse Multiple List Simultaneously with `zip`

In [30]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
result = list(zip(list1, list2))
print(result)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [34]:
P = 100
r_low = 2.5
r_high = 5.0
N_low = 10
N_high = 15
A_high = [P*(1+r_high/100)**n for n in range(N_high+1)]
A_low = [P*(1+r_low/100)**n for n in range(N_low+1)]
print(A_low)
print(A_high)

[100.0, 102.49999999999999, 105.06249999999999, 107.68906249999996, 110.38128906249996, 113.14082128906244, 115.96934182128899, 118.86857536682123, 121.84028975099173, 124.88629699476652, 128.00845441963565]
[100.0, 105.0, 110.25, 115.76250000000002, 121.55062500000003, 127.62815625000003, 134.00956406250003, 140.71004226562505, 147.7455443789063, 155.13282159785163, 162.8894626777442, 171.0339358116314, 179.585632602213, 188.56491423232367, 197.99315994393987, 207.89281794113688]

In [36]:
for i in range(len(A_high)):
    print(A_low[i], A_high[i])

100.0 100.0
102.49999999999999 105.0
105.06249999999999 110.25
107.68906249999996 115.76250000000002
110.38128906249996 121.55062500000003
113.14082128906244 127.62815625000003
115.96934182128899 134.00956406250003
118.86857536682123 140.71004226562505
121.84028975099173 147.7455443789063
124.88629699476652 155.13282159785163
128.00845441963565 162.8894626777442

IndexError: list index out of range

In [37]:
for low, high in zip(A_low, A_high):
    print(low, high)

100.0 100.0
102.49999999999999 105.0
105.06249999999999 110.25
107.68906249999996 115.76250000000002
110.38128906249996 121.55062500000003
113.14082128906244 127.62815625000003
115.96934182128899 134.00956406250003
118.86857536682123 140.71004226562505
121.84028975099173 147.7455443789063
124.88629699476652 155.13282159785163
128.00845441963565 162.8894626777442