# 8.2 Protected Class Attributes

In [18]:
class BankAccount:
    def __init__(self, first_name, last_name, number, balance):
        self.first_name = first_name
        self.last_name = last_name
        self.number = number
        self.balance = balance
    
    def deposit(self, amount):
        self.balance += amount
    
    def withdraw(self, amount):
        self.balance -= amount

    def name_change(self, new_first, new_last):
        self.first_name = new_first
        self.last_name = new_last
    
    def print_info(self):
        first = self.first_name
        last = self.last_name
        number = self.number
        bal = self.balance
        s = f'{first} {last}, {number}, balance: {bal}'
        print(s)

In [20]:
a1 = BankAccount(
    "John",
    "Olsson",
    "19371554951",
    20000
)
a1.print_info()
a1.deposit(1000)
a1.print_info()
a1.withdraw(500)
a1.print_info()

John Olsson, 19371554951, balance: 20000
John Olsson, 19371554951, balance: 21000
John Olsson, 19371554951, balance: 20500

In [15]:
a2 = BankAccount('Liz', 'Olsson', '19371565761', 30000)
a2.print_info()

Liz Olsson, 19371565761, balance: 30000

In [17]:
a1.first_name = "Nobody"
a1.print_info()

Nobody Olsson, 19371554951, balance: 20500

In [22]:
a1.name_change('John', 'Olsson')
a1.print_info()

John Olsson, 19371554951, balance: 20500

In [25]:
class BankAccount1:
    def __init__(self, first_name, last_name, number, balance):
        self._first_name = first_name
        self._last_name = last_name
        self._number = number
        self._balance = balance
    
    def deposit(self, amount):
        self._balance += amount
    
    def withdraw(self, amount):
        self._balance -= amount

    def name_change(self, new_first, new_last):
        self._first_name = new_first
        self._last_name = new_last
    
    def print_info(self):
        first = self._first_name
        last = self._last_name
        number = self._number
        bal = self._balance
        s = f'{first} {last}, {number}, balance: {bal}'
        print(s)

In [27]:
a3 = BankAccount1('Yasen', 'Zhao', '19374232315', 20000)
a3.print_info()
a3._number = '0000000000'
a3.print_info()

Yasen Zhao, 19374232315, balance: 20000
Yasen Zhao, 0000000000, balance: 20000